---
import Layout from "../layouts/main.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Contributing | Exam Test</title>
  </head>

  <Layout>
    <div
      class="grid place-items-center h-screen content-center text-center sm:max-w-xl px-4 sm:px-0 md:max-w-2xl mx-auto grid-cols-1 gap-4 md:gap-4 md:grid-cols-3 sm:grid-cols-2"
    >
      <a
        href="https://github.com/sergio-prgm/test-exam"
        target="_blank"
        class="w-full py-14 bg-sky-200 text-center rounded-md hover:bg-sky-300 dark:bg-sky-900 dark:text-gray-100 dark:hover:bg-sky-800"
        >Exam Test Repo</a
      >
      <a
        href="https://hub.docker.com/repository/docker/sergioprgm/astro/general"
        target="_blank"
        class="w-full py-14 bg-sky-200 rounded-md hover:bg-sky-300 dark:bg-sky-900 dark:text-gray-100 dark:hover:bg-sky-800"
        >Docker image</a
      >
      <a
        href="https://github.com/sergio-esteve-atos/html2TE"
        target="_blank"
        class="w-full py-14 bg-sky-200 rounded-md hover:bg-sky-300 dark:bg-sky-900 dark:text-gray-100 dark:hover:bg-sky-800"
        >Web Scraper Repo</a
      >
    </div>
  </Layout>

</html>
