---
import Layout from "../layouts/main.astro";
const exams = [
  "Microsoft_AZ-104",
  "Microsoft_AZ-204",
  "Microsoft_AZ-400",
  "Microsoft_AZ-900",
  "Microsoft_DP-203",
  "Microsoft_DP-300",
  "Microsoft_PL-300",
  "Microsoft_SC-100",
  "Microsoft_SC-200",
  "Microsoft_SC-300",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Exam Test</title>
  </head>

  <Layout>
    <div
      class="grid place-items-center h-screen content-center text-center sm:max-w-xl px-4 sm:px-0 md:max-w-2xl mx-auto grid-cols-1 gap-4 md:gap-4 md:grid-cols-3 sm:grid-cols-2"
    >
      {
        exams.map((exam) => <a
            href={'/' + exam}
            class="w-full py-14 bg-sky-200 text-center rounded-md hover:bg-sky-300"
          >
            {exam.replace("Microsoft_", "")}
          </a>
        )
      }
    </div>
  </Layout>


</html>
