---
// Component Imports
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <Button>Tailwind Button in Astro!</Button>
      <a href="/AZ-104" class="p-4 underline">Go to AZ-104 Questions</a>
      <a href="/AZ-204" class="p-4 underline">Go to AZ-204 Questions</a>
      <a href="/Developer Associate" class="p-4 underline"
        >Go to Developer Associate Questions</a
      >
    </div>
  </body>
</html>
