---
// Component Imports
import Layout from "../layouts/main.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Exam Test</title>
  </head>

  <Layout >
    <div class="grid place-items-center h-screen content-center text-center sm:max-w-xl px-4 sm:px-0 md:max-w-2xl mx-auto grid-cols-1 gap-4 md:gap-4 md:grid-cols-3 sm:grid-cols-2">
      <a href="/AZ-104" class="w-full py-14 bg-sky-200 text-center rounded-md">Go to AZ-104 Questions</a>
      <a href="/AZ-204" class="w-full  py-14 bg-sky-200 rounded-md">Go to AZ-204 Questions</a>
      <a href="/Microsoft_SC-100" class="w-full py-14 bg-sky-200 rounded-md"
        >Go to Microsoft SC-100</a
      >

    </div>
  </Layout>
</html>
