---
import Layout from "../layouts/main.astro";
const exams = [
  "Microsoft_AZ-104",
  "Microsoft_AZ-204",
  "Microsoft_AZ-400",
  "Microsoft_AZ-700",
  "Microsoft_AZ-720",
  "Microsoft_AZ-900",
  "Microsoft_DP-203",
  "Microsoft_DP-300",
  "Microsoft_DP-900",
  "Microsoft_MS-720",
  "Microsoft_PL-300",
  "Microsoft_SC-100",
  "Microsoft_SC-200",
  "Microsoft_SC-300",
  "Microsoft_SC-400",
  "Google_Professional_Cloud_Architect",
  "Google_Professional_Cloud_DevOps_Engineer",
  "Amazon_AWS_Certified_Cloud_Practitioner",
  "Amazon_AWS_Certified_SysOps_Administrator",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Exam Test</title>
  </head>

  <Layout>
    <div
      class="grid place-items-center mb-20 mt-8 content-center text-center sm:max-w-xl px-6 sm:px-0 md:max-w-2xl mx-auto grid-cols-1 gap-4 md:gap-4 md:grid-cols-3 sm:grid-cols-2"
    >
      {
        exams.map((exam) => (
          <a
            href={"/" + exam}
            class="w-full py-14 bg-sky-200 text-center rounded-md hover:bg-sky-300 dark:bg-sky-900 dark:text-gray-100 dark:hover:bg-sky-800"
          >
            {exam
              .replace("Microsoft_", "")
              .replace("Google_Professional_Cloud_", "GCP ")
              .replace("Amazon_AWS_Certified_", "AWS ")}
          </a>
        ))
      }
    </div>
  </Layout>


</html>
