---
interface Props {
  title: string;
  answer: string;
}
const { title, answer } = Astro.props;
const idTitle = "switch-" + title.split(" ").join("-");
---

<button
  class="appearance-none py-2 px-4 bg-emerald-500 text-white font-semibold rounded-lg shadow-md hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75"
  id={idTitle}
>
  Show answer
</button>

<script define:vars={{ idTitle, answer }}>
  const button = document.body.querySelector(`button#${idTitle}`);
  const answerEl = document.body.querySelector(`img#${answer}`);
  const classList = answerEl.classList;

  if (button) {
    button.addEventListener("click", () => {
      if (classList.contains("hidden")) {
        classList.remove("hidden");
      } else {
        answerEl.classList.add("hidden");
      }
    });
  }
</script>
