---
import Navbar from "../components/Navbar.astro";
interface Props {
  exam?: string

}
const { exam } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>
  <body class="px-6 sm:px-8 md:max-w-screen-xl mx-auto">
    <Navbar exam={exam} />
    <slot />
  </body>
</html>


<style is:global>
  ::selection {
    background-color: theme(colors.emerald.200);
  }
</style>